@font-face {
  font-family: 'Italian Plate No2 Expanded';
  src: url('./Italian%20Plate%20No2%20Expanded%20Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Italian Plate No2 Expanded';
  src: url('./Italian%20Plate%20No2%20Expanded%20Thin%20Italic.ttf')
    format('truetype');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Italian Plate No2 Expanded';
  src: url('./Italian%20Plate%20No2%20Expanded%20Ultralight.ttf')
    format('truetype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Italian Plate No2 Expanded';
  src: url('./Italian%20Plate%20No2%20Expanded%20Ultralight%20Italic.ttf')
    format('truetype');
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Italian Plate No2 Expanded';
  src: url('./Italian%20Plate%20No2%20Expanded%20Extralight.ttf')
    format('truetype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Italian Plate No2 Expanded';
  src: url('./Italian%20Plate%20No2%20Expanded%20Extralight%20Italic.ttf')
    format('truetype');
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Italian Plate No2 Expanded';
  src: url('./Italian%20Plate%20No2%20Expanded%20Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Italian Plate No2 Expanded';
  src: url('./Italian%20Plate%20No2%20Expanded%20Light%20Italic.ttf')
    format('truetype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Italian Plate No2 Expanded';
  src: url('./Italian%20Plate%20No2%20Expanded.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Italian Plate No2 Expanded';
  src: url('./Italian%20Plate%20No2%20Expanded%20Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Italian Plate No2 Expanded';
  src: url('./Italian%20Plate%20No2%20Expanded%20Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Italian Plate No2 Expanded';
  src: url('./Italian%20Plate%20No2%20Expanded%20Medium%20Italic.ttf')
    format('truetype');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Italian Plate No2 Expanded';
  src: url('./Italian%20Plate%20No2%20Expanded%20Demibold.ttf')
    format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Italian Plate No2 Expanded';
  src: url('./Italian%20Plate%20No2%20Expanded%20Demibold%20Italic.ttf')
    format('truetype');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Italian Plate No2 Expanded';
  src: url('./Italian%20Plate%20No2%20Expanded%20Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Italian Plate No2 Expanded';
  src: url('./Italian%20Plate%20No2%20Expanded%20Bold%20Italic.ttf')
    format('truetype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Italian Plate No2 Expanded';
  src: url('./Italian%20Plate%20No2%20Expanded%20Extrabold.ttf')
    format('truetype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Italian Plate No2 Expanded';
  src: url('./Italian%20Plate%20No2%20Expanded%20Extrabold%20Italic.ttf')
    format('truetype');
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Italian Plate No2 Expanded';
  src: url('./Italian%20Plate%20No2%20Expanded%20Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Italian Plate No2 Expanded';
  src: url('./Italian%20Plate%20No2%20Expanded%20Black%20Italic.ttf')
    format('truetype');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
